Build
Binaries
DerivedDataCache
Intermediate
Saved
Content/Environment
Content/Characters
Content/Maps
Content/Audio
Звуки mp32/
Референс/
.vscode
.vs
.idea
.git
.user
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.user
