Build
Binaries
DerivedDataCache
Intermediate
Saved
Content/Animations
Content/Collections
Content/Developers
Content/HDRI
Content/Maps
Content/Materials
Content/Meshes
Content/Particles
Content/SFX
Content/Textures
Звуки mp32/
Референс/
.vscode
.vs
.idea
.git
.user
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.user
